/*normalize.css* puedo descargar hoja de estilos si el proyecto es grande*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css');

@import url('/css/varios/variables.css');
@import url('/css/varios/slider.css');
@import url('/css/varios/collection.css');
@import url('/css/varios/animations.css');
@import url('/css/varios/filter.css');
@import url('/css/varios/item.css');

@import url('/css/components/header.css');
@import url('/css/components/banner.css');
@import url('/css/components/footer.css');
@import url('/css/components/card.css');
@import url('/css/components/slider.css');

@import url('/css/pages/shop.css');
@import url('/css/pages/cart.css');
@import url('/css/pages/admin.css');



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*box sizing toma el tamaño del elemento, con border box hace que la caja mida lo mismo y el espacio donde pueda caber el contenido se empuje hacia adentro dejando los margenes definidos. 
    Con content-box al agregarle margen o relleno, el tamaño va a crecer con esa medida*/
}

html{
    font-family: var(--base-font);
    font-size: 62.5%; /*se utiliza este valor porque el tamaño por defecto del p es 16px asi queda 10px; para textos se recomienda usar medida relativa (1em = 16px) */
    color: var(--dark-solid);
}

a{
    text-decoration: none; /*para q los enlaces no tengan el subrayado*/
    /* font-size: 2em; saque la medida de figma*/
    font-family: inherit;
    color: inherit; /*el heredado x etiqueta padre: html*/
}

header, 
footer {
    color: var(--light-font-solid);
    font-family: var(--alternative-font);
}

ul, ol{
    list-style-type: none;
}


img { /*Normalizo para que se ajusten al contenedor padre*/
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}










