/*ITEM*/
.item{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
    align-items: center;           
}

.item_licence{
    font-size: var(--font-small);
    font-weight: 500;
    color: #333333;
}

.item_name{
    font-size: var(--font-jumbo);
    font-weight: 700;
    color: #111111;
    margin: var(--spacing-16) 0;
}

.item_description{
    font-size: var(--font-large);
    font-weight: 400;
    color: #333333;
}

.item_price{
    font-size: var(--font-jumbo);
    font-weight: 400;
    color: #111111;
    margin: var(--spacing-16) 0;
}

.item_promo{ 
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
    margin: var(--spacing-16) 0;
}

.item_cart{
    padding: var(--spacing-8) 0;    
    display: flex;
}
.btns{
    display: flex;
    flex-direction: column;
}

.item_quantity{
    padding: 0.25rem 0.5rem;
    border: 0.5px solid #C9C9C9;
    font-family: var(--base-font);
    background-color: #4F4F4F;
    color: var(--light-font-solid);
    font-size: var(--font-medium);  
}

.item_input{
    font-family: var(--base-font);
    padding: var(--spacing-16) var(--spacing-8);
    border: 0.5px solid #C9C9C9;
    background-color: #FFFFFF;
    font-size: var(--font-medium);    
    margin: 0 0.5rem;
    width: 10rem;
    text-align: center;
}

#search {
    font-family: var(--base-font);
    border: 0.5px solid #C9C9C9;
    background-color: #FFFFFF;
    font-size: var(--font-xsmall);    
    margin: 0;
    padding: 0.5rem;    
    width: 25rem;
}

#orden, #min, #max {
    font-family: var(--base-font);
    border: 0.5px solid #C9C9C9;
    background-color: #FFFFFF;
    font-size: var(--font-xsmall);    
    margin: 0;   
    padding: 0.5rem;   
}

#opcionUno, #opcionDos, #opcionTres, #opcionCuatro{
    margin: 0.5rem;
}

.item_carrito{
    background-color: var(--primary-solid);
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-weight: 400;
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-8);
    border: 0.5px solid #C9C9C9;
    margin: 0 2rem;
    width: 18rem;
}