/*CART*/
.cart{
 
}


.cart_titles{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 700;
    border-bottom: 5px solid #FF3333;
    display: inline-block;
}
.cart_header{
    display: flex;
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-weight: 700;    
    margin: var(--spacing-48) 0;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000040;
    background-color: var(--light-bg-solid);
    padding: var(--spacing-20) var(--spacing-68);

}
.cart_column{
    display: flex;
    flex-grow: 1;
}

.cart_line{
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000040;
    background-color: var(--light-bg-solid);
    justify-content: space-between;
    align-items: center;
    margin: var(--spacing-24) 0;
    flex-direction: row;
    
}
.cart_line_column{

}
.cart_img{
    width: 20rem;
    height: 20rem;
}

.cart_name{
    font-family: var(--base-font);
    font-weight: 700;
    font-size: var(--font-large);
    margin-bottom: var(--spacing-16);
}

.cart_licence{
    font-family: var(--base-font);
    font-weight: 500;
    font-size: var(--font-small);
    text-transform: uppercase;
}
.cart_price{
    font-family: var(--base-font);
    font-weight: 500;
    font-size: var(--font-small);
    margin-top: var(--spacing-36);
}
.cart_input{
    padding: var(--spacing-8) var(--spacing-8);
    border: 0.5px solid #C9C9C9;
    background-color: #FFFFFF;
    font-size: var(--font-medium);    
    margin: 0;
    width: 8rem;
}

.cart_subtotal{
    font-family: var(--base-font);
    font-weight: 400;
    font-size: var(--font-medium);
}
.cart_resume{
   display: flex;
   flex-direction: column;
   padding: var(--spacing-24);
   gap: 1.25rem;
   border-radius: 10px;
   box-shadow: 0px 0px 10px 0px #00000040;
   background-color: var(--light-bg-solid);
   justify-content: right;

     
}  


.cart_resume__data{
    justify-content: right;
    
    
}

.cart_resume_desc{
    font-family: var(--base-font);
    font-weight: 600;
    font-size: var(--font-small);
    margin: var(--spacing-8) 0;
}

.cart_resume_total{
    font-family: var(--base-font);
    font-weight: 600;
    font-size: var(--font-medium);
    border-top: 5px solid #FF3333;
    display:inline-block;
}

