#cart{
    display: flex;
}

.cart_title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 600;
    border-bottom: 5px solid #FF3333;
    display: inline-block;    
    text-transform: uppercase;
    letter-spacing: 0.168rem;
    padding-top: 3rem;
    margin: 3rem 0;
}

.cart_header{
    display: flex;
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-weight: 700;    
    text-transform: uppercase;
    margin: var(--spacing-16) 0;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000040;
    background-color: var(--light-bg-solid);
    padding: var(--spacing-20) var(--spacing-68);

}

.cart_column{
    display: flex;
    flex-grow: 1;
}

/*Section items agregados*/

.cart_items{
    display: flex;
    flex-direction: column;
}

.cart__item{
    display: flex;    
    align-items: center;
    flex-direction: row;
    margin: var(--spacing-16) 0;       
    box-shadow: 0px 0px 10px 0px #00000040;
    border-radius: 10px;
}

.item_img{
    width: 20rem;
    height: 20rem;
    padding: 0.5rem;
}

.item_name{
    font-family: var(--base-font);
    font-weight: 700;
    font-size: var(--font-large);
    margin-bottom: var(--spacing-16);
    text-transform: uppercase;
}

.item_licence{
    font-family: var(--base-font);
    font-weight: 500;
    font-size: var(--font-small);
    text-transform: uppercase;
}

.item_price{
    font-family: var(--base-font);
    font-weight: 500;
    font-size: var(--font-small);
    margin-top: var(--spacing-36);
}

.cart_input{
    padding: var(--spacing-8) var(--spacing-8);
    border: 0.5px solid #C9C9C9;
    background-color: #FFFFFF;
    font-size: var(--font-medium);    
    margin: 0;
    width: 8rem;
}

.item_total{
    font-family: var(--base-font);
    font-weight: 400;
    font-size: var(--font-medium);
}

.quitarItem{
    color: var(--primary-solid);
    font-size: var(--font-xlarge);    
}

/*Checkout*/
.cart__summary{
   display: flex;
   flex-direction: column;
   padding: var(--spacing-12);
   border-radius: 10px;
   box-shadow: 0px 0px 10px 0px #00000040;
   width: 50rem;  
}  

.cart_summary{
    justify-content: right;     
}

.cart_summary_desc{
    font-family: var(--base-font);
    font-weight: 600;
    font-size: var(--font-small);
    margin: var(--spacing-16) 0;
    text-transform: uppercase;
}

.cart_summary_desc_price{
    font-family: var(--base-font);
    font-weight: 600;
    font-size: var(--font-small);
    margin: var(--spacing-16) 0;
    text-transform: uppercase;
    color: var(--dark-500);
}

.cart_total{
    font-family: var(--base-font);
    font-weight: 600;
    font-size: var(--font-xsmall);
    border-top: 2px solid #FF3333;   
    text-transform: uppercase;    
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart_total_price{
    font-family: var(--base-font);
    font-weight: 600;
    font-size: var(--font-medium);
    border-top: 2px solid #FF3333;
    display:inline-block;
    text-transform: uppercase;    
    padding: 1rem 0;
}

#pay{
    margin: 2rem 0;
    width: 50rem;
    font-size: var(--font-large);
    font-weight: 700;
}

.alinear{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 5rem;
}

.cart_summary_info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}