/*SHOP*/
#shop_main{
    display: flex;   
    padding: 2rem;
}
.shop__filters{
    display: flex;
    flex-direction: column;
}

.shop__items{       
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1; 
}

.shop_items{
    display: grid;
    grid-template-columns: auto auto auto;
}

