<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title><%=title%></title>
</head>
<body>
    <%- include ('./partials/header')%>

    <main id="form_login">
        <p class="admin_title">Envianos tu mensaje</p>
        <section id="admin">
            
            <textarea name="message" id="message" placeholder="Escribinos!" class="textarea_editItem"></textarea>
        </section>
        <section class="login__buttons">
            <button class="btn_login" type="submit" value="Ingresar">Enviar</button>
        </section>
    </main>     

    <%- include ('./partials/footer')%>
</body>
</html>