<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Carrito de Compras</title>
</head>
<body>
    <%- include ('../partials/header')%>
    <main class="container cart">
        
        <p class="cart_titles">CARRITO DE COMPRAS</p>
    
        <section class="cart_header">
           <p class="cart_column">DETALLE DE PRODUCTO</p>
           <p class="cart_column">CANTIDAD</p>
           <p class="cart_column">TOTAL</p>        
        
        </section>

        <section class="cart_line">
            <picture class="cart_img"><img src="../img/star-wars/baby-yoda-1.webp" alt="Figura coleccionable de Baby Yoda (Grogu)"></picture>                
            <div class=""><p class="cart_name">BABY YODA BLUEBALL</p>
                <p class="cart_licence">Star Wars</p>
                <p class="cart_price">Precio $ 1799,99</p></div>
               
            <div class="cart_column item_cart">
                    <input class="cart_input" type="text" id="quantity" name="quantity" placeholder="0">
                    <button id="quitar" class="item_quantity item_carrito" type="button">-</button>   
                    <button id="agregar" class="item_quantity item_carrito" type="button">+</button>                   
            </div>
            <div class="cart_column">
                <p class="cart_subtotal">$ Total</p>
            </div>
            <div class="cart_column"> <p style="color: red;"> X</p>
            </div>
                         
                 
        </section>

        <section class="cart_resume">
            <p class="cart_titles">RESUMEN</p>
            <p class="cart_resume_data">CANTIDAD DE ELEMENTOS</p>
            <p class="cart_resume_data">SUBTOTAL</p>
            <p class="cart_resume_data">ENVIO</p>
            <div>
                <p class="cart_resume_total">TOTAL</p>
            </div>
            
        </section>
        

        
        
        <button id="" class="item_quantity item_carrito" type="button">IR A PAGAR</button>
        

    </main>


    <%- include ('../partials/footer')%>
    <script src="/js/item.js"></script>
</body>
</html>