<header>
    <nav class= "navbar container" aria-label="Menú del header">
        <picture class="navbar__logo">
            <a href="home">
                <img src="/img/branding/logo_light_horizontal.svg"  alt="Isologotipo de Funko Shop">
            </a>          
        </picture>            
        <ul class="navbar__menu">
            <li class="navbar__item with-submenu">
                <a class="navbar__link with-icon" href="/shop">Ver Tienda</a>                
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/admin">Admin</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/auth/logout">Salir</a>
            </li>            
        </ul>
    </nav>
</header>