<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title><%=title%></title>
</head>
<body>
    <%- include ('../partials/headerUser')%>
    
    <main>
        <section class="editItem">
            <p class="admin_title">Crear Nuevo item</p> 
        <section class="info_editItem">
            <label class="label_editItem" for="">Categoría:</label>
            <select class="select_options" name="categorias" id="categoria">
                <option selected disabled value="">Seleccionar</option>
                <option value="">Funkos</option>
                <option value="">Remeras</option>
                <option value="">Llaveros</option>
            </select>
            <label class="label_editItem" for="">Licencia:</label>
            <select class="select_options" name="" id="licencia">
                <option selected disabled value="">Seleccionar</option>
                <option value="">Harry Potter</option>
                <option value="">Star Wars</option>
                <option value="">Pokemon</option>
            </select>
        </section>        
        <section class="info_editItem">
            <label class="label_editItem2" for="">Nombre del producto:</label>
            <input class="input_editItem" type="text" placeholder="Kakashi Hatake Shippuden Saga">
        </section>        
        <textarea class="textarea_editItem" name="" id="" placeholder="Descripcion del producto"></textarea>                             
        
        <section  class="info_editItem">
            <label class="label_editItem2" for="">SKU:</label>
            <input class="input_editItem2" type="text" placeholder="SKU0111011">
            <label class="label_editItem2" for="">Precio:</label>
            <input class="input_editItem2" type="text" name="" id="" placeholder="$0">
            <label class="label_editItem2" for="">Stock:</label>
            <input class="input_editItem2" type="text" name="" placeholder="0">
        </section>        
        <section class="info_editItem">
            <label class="label_editItem2" for="">Descuento:</label>
            <input class="input_editItem2" type="text" name="" id="" placeholder="0%">
            <label class="label_editItem2" for="">Cuotas:</label>
            <select class="select_options" id="cuotas">
                <option selected value="">3 cuotas sin interés</option>
                <option value="">6 cuotas con interés bajo</option>
                <option value="">12 cuotas con interés</option>
            </select>
        </section>
        
        <section>
            <label class="label_editItem2" for="">Imágenes:</label>
            <input class="file" type="file" id="file">
        </section>
        <div class="edit_buttons">
            <button class="btn_editItem" type="submit">Agregar Producto</button>
            <button class="btn_editItem" type="submit">Limpiar</button>
        </div>
    </main>   

    <%- include ('../partials/footer')%>
</body>
</html>