

/*TITULO CARRITO DE COMPRAS*/
.cart-title{

    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;

    margin-left: 110px;
    margin-top: 128px;

    display: inline-block;
    border-bottom: 5px solid var(--primary-solid);


    
 }

 /* "DETALLE/CANTIDAD/TOTAL" */

 .cart-title-row-father{
    margin-top: 40px;
    margin-left: 110px;
    display: flex;

    width: 1220px;
    padding: 19px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000040;

    background-color: #FAFAFF;


 }

 .cart-title-row{
    font-size: var(--font-small);
    font-weight:700;
    width:100px;
    margin-left: 10px;
    flex-grow:1;


}


/* TITULO COLUMNA DE COMPRAS */




/* DETALLES CARRITO */

    /*Nombre producto*/

  

    .cart-table{
        width:1220px;
        margin-top: 20px;
        margin-left:110px ;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding:16px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #00000040;

        background-color: #FAFAFF;
        
    }

    /* Elemento individual de la tabla */
    .table-item{
        flex-grow: 1;
        display: flex;
        width: 50px;
        background: #FAFAFF;

    }

    .table-product{
        display:flex;
    }

    /* Detallitos del elemento*/
    .cart-item-name{
        font-size: var(--font-large);
        font-weight: 700;
        color:#333333;
    }

    /* Imagen */

    .cart-item-image{
        width: 7.4225rem;
    height: 7.375rem;

        

    }

    /* Precio abajo imagen*/

    .cart-item-price{
        
        font-size: var(--font-xsmall);
        font-weight: 400;
        color:#333333;

    }

    /*Zona para agregar o quitar elementos*/

    .add{
        width: 89.48px;
        border-style: none;
    }

    /* Precio del total */

    .cart-item-total-price{
        font-weight: 400;
        font-size: var(--font-medium);
        
    }
    
    

    

/* RESUMEN */

/* NO SE QUE LE PASA AL TITULO QUE SE PONE A LA DERECHA AUTIMATICAMENTE*/
.resume-title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;

    margin-left:1106px;
    margin-top: 128px;

    display: inline-block;
    border-bottom: 5px solid var(--primary-solid);
}

.resume{
    margin-left:758px ;
    margin-top:20px;

    width: 572px;
    height: 197px;
    padding: 24px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000040;

    display: flex ;
    flex-direction: column;
    gap:10px;

    background-color: #FAFAFF;

    
}

.resume-item{
    display: flex;
    
}
.resume-description{
    font-size: var(--font-small);
    font-weight:700;
    flex-grow: 1;
}

.resume-description-element{
    font-size: var(--font-small);
    color:#333333;
}

/*Buscar forma de hacer esto mas eficiente*/
 /*capaz con last:child, un increase o algo así*/

.total{
    border-top: 2px solid var(--primary-solid); ;
    margin-top: 10px;
    display: flex;
    padding-top: 10px;
}

.resume-total{
    font-size: var(--font-medium);
    font-weight:700;
    flex-grow: 1;
}

.resume-total-price{
    font-size: var(--font-medium);
    color:#333333;
}

.button-go__pay{
    margin-top:15px;
    /*Chequear que le pasa al "margin-left", tendria que ser mas alto*/
    margin-left:380px;
    margin-bottom: 150px;
}


#pay-button{
    font-family: var(--base-font);
    font-size: var(--font-display);
    text-transform: uppercase;
    font-weight: bold;

    width: 572px;
    height:68.66px;
    padding: auto;

    background-color: var(--primary-solid);
    color: white;
}
