/*FILTER*/
.shop__filters_title{
    font-weight: 500;
    font-size: var(--font-large);
    margin: var(--spacing-8) 0;
}
.shop__filters_option{
    font-weight: 500;
    font-size: var(--font-small);
}
